.main_section {
    margin-inline: auto;
    max-width: 90%;
    padding: 1em;
    margin-bottom: 2em;
}

.container-alta {
    padding: 1rem;
    #nombre,
    #precio,
    #stock,
    #marca,
    #categoria,
    #detalles {
        color: #3fa07c;
        font-size: 0.9rem;
        width: 50%;
        box-sizing: border-box;
        padding-inline: 0.5em;
        padding-block: 0.7em;
        border: solid 1.5px #9e9e9e;
        border-bottom: 1px, solid rgba(221, 221, 221, 0.39);
        border-radius: 1rem;
        margin-left: 28%;
        &:border {
            position: absolute;
            background: #5891ff;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: 0.3s;
        }
        &:hover {
            background: #4985e01f;
        }
        &:focus~.input-border {
            width: 100%;
        }
    }
    .cntr {
        align-items: center;
        align-content: center;
        margin-left: 300px;
    }
    h1 {
        color: rgb(4, 4, 4);
        align-content: center;
        align-items: center;
        padding-left: 50%;
    }
    h2 {
        color: rgb(4, 4, 4);
    }
    div,
    input {
        width: 400px;
        display: block;
        margin-bottom: 3px;
        padding: 20px;
        padding-left: 1px;
        margin-top: 2em;
    }
    label {
        padding-left: 50%;
        font-size: 20px;
    }
    button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 100px;
        padding: 0.75em 0.5em;
        border-radius: 4px;
        margin-bottom: 2em;
        box-shadow: #3fa07c;
        color: black;
        &:hover {
            background-color: #3fa07c;
        }
        &:disabled {
            filter: opacity(30%);
            cursor: initial;
        }
    }
    .cbx {
        position: relative;
        top: 1px;
        width: 27px;
        height: 27px;
        border: 1px solid #c8ccd4;
        border-radius: 3px;
        // vertical-align: middle;
        transition: background 0.1s ease;
        cursor: pointer;
        display: block;
        padding-left: 1px;
        margin-left: 50%;
    }
    .cbx:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 8px;
        width: 7px;
        height: 14px;
        opacity: 0;
        transform: rotate(45deg) scale(0);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: all 0.3s ease;
        transition-delay: 0.15s;
    }
    .lbl {
        margin-left: 5px;
        vertical-align: middle;
        cursor: pointer;
    }
    #cbx:checked~.cbx {
        border-color: transparent;
        background: #3fa07c;
        animation: jelly 0.6s ease;
    }
    #cbx:checked~.cbx:after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
    .cntr {
        position: relative;
    }
    @keyframes jelly {
        from {
            transform: scale(1, 1);
        }
        30% {
            transform: scale(1.25, 0.75);
        }
        40% {
            transform: scale(0.75, 1.25);
        }
        50% {
            transform: scale(1.15, 0.85);
        }
        65% {
            transform: scale(0.95, 1.05);
        }
        75% {
            transform: scale(1.05, 0.95);
        }
        to {
            transform: scale(1, 1);
        }
    }
    .hidden-xs-up {
        display: none!important;
    }
    form .mensaje-validacion {
        max-width: 300px;
        color: #3fa07c;
        font-weight: 700;
        font-size: 0.9rem;
        margin-left: 45%;
    }
    th,
    td {
        border-collapse: collapse;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        padding-block: 6px;
        font-size: 15px;
    }
    table {
        table-layout: fixed;
        width: 100%;
        margin-block: 1em;
        font-size: 0.8rem;
        border-collapse: collapse;
        border-radius: 4px;
        overflow: hidden;
        font-size: 0.8rem;
    }
    #listado-productos {
        width: 100%;
    }
    /* drop area */
    #drop-area {
        border: 3px dashed #3fa07c;
        border-radius: 20px;
        width: 300px;
        margin-left: 40%;
        padding: 20px;
    }
    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border-radius: 1px solid #ccc;
    }
    #foto {
        display: none;
    }
    #galery img {
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
    #drop-area.highlight {
        border-color: purple;
    }
}